 /*@media only screen and (min-width: 1200px) {
  :root {
    --font-size: 18px;
  }
  html{
    font-size: var(--font-size); 
  }
}
*/
@media only screen and (max-width: 480px) {
  :root {
    --font-size: 69px;
  }
  html{
    font-size: var(--font-size);
  }
} 

html {
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-wrapper{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  overflow: hidden;
}

.sec2-wrapper{
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.title{
  width: min-content;
  height: min-content;
  margin: 5rem auto;
  background: var(--color-itemsbg);
  border-radius: 15px;
  font-family: var(--font-family2);
  color: var(--color-text);
  padding: 10px;
  font-size: 3rem;
}

.desc{
  font-family: var(--font-family2);
  color: var(--color-text);
  text-align: center;
  margin-top: 20rem;
  font-size: 50px;
  animation: fadein 2s;
}

@keyframes fadein{
  from { opacity: 0; }
  to { opacity: 1; }
}

.arrow{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  top: auto;
}
.arrow img{
  width: 20px;
  padding-top: 0;
  transition: padding-top 1s;
}

.arrow img:hover{
  padding-top: 15px;
}

.aboutme p{
  color: var(--color-text);
  font-family: var(--font-family2);
  text-align: center;
  height: fit-content;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.aboutme h1{
  color: var(--color-text);
  font-family: var(--font-family2);
  text-align: center;
  max-height: 200px;
  font-size: 3.5rem;
}

#spacer{
  height: 5px;
  width: 80%;
  background-color: var(--color-itemsbg);
  border-radius: 4px;
  margin-top: 5rem;
}

footer{
  width: 100%;
  height: 10px;
  background-color: black;
}