 /*@media only screen and (min-width: 1200px) {
  :root {
    --font-size: 18px;
  }
  html{
    font-size: var(--font-size); 
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --font-size: 16px;
  }
  html{
    font-size: var(--font-size);
  }
} */

html {
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  overflow-x: hidden;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-wrapper{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  overflow: hidden;
}

.sec2-wrapper{
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.title{
  width: min-content;
  height: min-content;
  margin: 5rem auto;
  background: var(--color-itemsbg);
  border-radius: 15px;
  font-family: var(--font-family2);
  color: var(--color-text);
  padding: 10px;
  font-size: 3rem;
}

.desc{
  font-family: var(--font-family2);
  color: var(--color-text);
  text-align: center;
  margin-top: 20rem;
  font-size: 50px;
  animation: fadein 2s;
}

@keyframes fadein{
  from { opacity: 0; }
  to { opacity: 1; }
}

.arrow{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  top: auto;
}
.arrow img{
  width: 20px;
  padding-top: 0;
  transition: padding-top 1s;
}

.arrow img:hover{
  padding-top: 15px;
}

.aboutme p{
  font-family: var(--font-family2);
  text-align: center;
  font-size: 1.5rem;
}

.sec2-wrapper h1{
  font-family: var(--font-family2);
  text-align: center;
  font-size: 3.5rem;
  font-weight: 300;
}

#spacer{
  height: 5px;
  width: 80%;
  background-color: var(--color-itemsbg);
  border-radius: 5px;
}

.stuff-invisible{
  height: 15rem;
  width: 100%;
  display: block;
}

.stuff{
  width: 100%;
}

.stuff h1{
  font-size: 2.5rem;
}

.stuff ul{
  display: flex;
  list-style: none;
  padding: 0;
  overflow: hidden;
  position: absolute;
  margin-top: -15rem;
}
#site-m{
  width: 20rem;
  height: 15rem;
  background: linear-gradient(45deg, #711894, #16929b);
}

#site-x{
  width: 20rem;
  height: 15rem;
  background: linear-gradient(45deg, #711894, #16929b);
}

#site-y{
  width: 20rem;
  height: 15rem;
  background: linear-gradient(45deg, #711894, #16929b);
}