@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Roboto", sans-serif;
  --font-family-header: "Roboto", sans-serif;
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

body {
  font-family: 'Press Start 2P';
  background-color: #b7ff9b;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}


.page {
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  top: 0;
}
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

.dipped {
  position: absolute;
}

.points {
  position: absolute;
  top: 1%;
  left: 1%;
}

#timer{
  position: absolute;
  bottom: 6%;
  left: 1%;
}
#timerms{
  position: absolute;
}

.btn {
  position: absolute;
  height: 10%;
}

.lives {
  height: 40px;
  width: 120px;
  top: 2%;
  right: 6%;
  position: absolute;
}
#life1 {
  position: absolute;
  height: inherit;
}
#life2 {
  position: absolute;
  height: inherit;
  left: 50px;
}
#life3 {
  position: absolute;
  height: inherit;
  left: 100px;
}
